        body {
            margin: auto;
            background-image: url(../img/rojo.jpg);
            min-width: 360px;
        }
        
        header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 5px;
            width: 100%;
            height: 110px;
            background: rgb(0, 0, 0);
            text-align: center;
            box-sizing: border-box;
        }
        
        #banner {
            height: 110px;
        }
        
        @keyframes ring {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0.5;
            }
            1000% {
                opacity: 1;
            }
        }
        
        #ring,
        #ring-2 {
            animation-name: ring;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        
        .container {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1.2rem;
            margin: auto;
            padding: 10px 10px 10px 10px;
            color: white;
            background: #362810;
            border-right: 5px solid black;
            border-left: 5px solid black;
            box-sizing: border-box;
        }
        
        p {
            color: white;
            font-family: -webkit-pictograph;
        }
        
        footer {
            color: white;
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 5px solid black;
            border-left: 5px solid black;
            padding: 10px 10px 10px 10px;
            margin: auto;
            box-sizing: border-box;
            background-color: black;
        }
        
        .article-left,
        .article-right {
            width: 50%;
            height: 100%;
            margin: auto;
            padding: 5px 5px 5px 5px;
            box-sizing: border-box;
        }
        
        #image-profile {
            margin: auto;
            text-align: center;
        }
        
        table {
            width: 80%;
            color: black;
            margin: auto;
            background-color: #a1875c;
            border-collapse: collapse;
            border: 2px solid black;
        }
        
        tr {
            border-collapse: collapse;
            border: 2px solid black;
        }
        
        td {
            padding: 2px 2px 10px 1px;
        }
        
        table tr:nth-child(even) {
            background-color: rgb(236 228 215);
        }
        
        @media only screen and (max-width: 1400px) {
            .container,
            footer {
                width: 70%;
                font-size: 1.1em;
            }
        }
        
        @media only screen and (max-width: 1200px) {
            .container,
            footer {
                width: 80%;
                font-size: 1.05rem;
            }
        }
        
        @media only screen and (max-width: 1000px) {
            .container,
            footer {
                width: 90%;
                font-size: 0.95rem;
            }
        }
        
        @media only screen and (max-width: 800px) {
            .container,
            footer,
            .article-left,
            .right {
                width: 100%;
                font-size: 0.85rem;
            }
        }
        
        @media only screen and (max-width: 800px) {
            #ring,
            #ring-2 {
                display: none;
            }
        }
        
        #strange {
            width: 70%;
            height: 80%;
            margin: 25px 0px 15px 30px;
        }
        
        #profile-image {
            margin: auto;
            border-radius: 10px;
            width: 90%;
        }
        
        .image-profile {
            text-align: center;
        }
        
        .image-profile p {
            margin: auto;
            width: 80%;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
        }
        
        hr {
            border: 0;
            height: 4px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        
        a {
            color: blue;
            text-decoration: none;
        }
        
        .fa {
            background: black;
            color: white;
            padding: 8px;
            font-size: 12px;
            width: 15px;
            text-align: center;
            margin: 5px 2px;
            border-radius: 30px;
            border: 1px solid black;
        }
        
        .fa-facebook {
            background: linear-gradient( 120deg, #3b5998, #7a79b4);
            color: white;
        }
        
        .fa-linkedin {
            background: linear-gradient( 120deg, #007bb5, #7a79b4);
            color: white;
        }
        
        .fa-instagram {
            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
            color: white;
        }
        
        .fa:hover {
            border: 1px solid white;
        }